<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="restassuredtestsuite">

	<listeners>
		<listener class-name="listeners.Listeners"></listener>
	</listeners>

	<test name="restassuredtests" thread-count="10" parallel="classes">

		<classes>
			<class name="com.employee.testCases.TC001_Get_All_Employees" />
			<class
				name="com.employee.testCases.TC002_Get_Single_Employee_Data" />
			<class name="com.employee.testCases.TC003_Post_Employee_Record" />
			<class name="com.employee.testCases.TC004_Put_Employee_Record" />
			<class
				name="com.employee.testCases.TC005_Delete_Employee_Record" />
		</classes>

	</test>

</suite>